In [1]:
import pandas as pd

In [2]:
name=input('my name is faith')
print('hello'+name)

my name is faithhillary
hellohillary

In [3]:
((20-3)+3-2**3*3)

-4

In [4]:
#17+3-2**3*3
17+3-8*3
20-24

-4

In [5]:
#we can comment a multi line sentence by using 3 quotations''''''
long_quote='''
peace live a river attene my way when soo
rrows like 
sweet billow
rows
'''

In [10]:
#using thb: : -1 means fromthe beginning to thend then fromthe end inverser 
# this is used to reverse a list
num=1,2,3,4,5,6,7,8,9,0
num[::-1]

#num.reverse() does not work because that is a turple

AttributeError: 'tuple' object has no attribute 'reverse'

In [7]:
# f'anything {}something' this is called the f refrence rule its refrence the value of a variable in a string
shit='huo'
stt=(f"my name is shi{shit}k")
stt

'my name is shihuok'

In [8]:
selfish='123456789'
#selfish+=5

In [9]:
#this gives the length of the string, range, number etc
len('hellooooo')

9

In [10]:
# this gives the absolute value of an integre which is always positive
abs(-34)

34

In [11]:
quote="to be or not to be"

In [12]:
quote.upper()

'TO BE OR NOT TO BE'

In [13]:
quote.capitalize()

'To be or not to be'

In [14]:
#nice
quote.partition("n")

('to be or ', 'n', 'ot to be')

In [15]:
bool(0)

False

In [16]:
year=int(input("what is your birth year"))
age=2023-year
print(f'your age is: {age} ')

what is your birth year1997
your age is: 26

In [2]:
amazon_cart=['books',
             'pencil',
             'houses',
             'computers',
            'toys']
#so below is a function used to replace the valur in a dictionary and not to change it
amazon_cart[0]='goat'
amazon_cart

['goat', 'pencil', 'houses', 'computers', 'toys']

In [8]:
amazon_cart[3]='lolipop'
amazon_cart

['goat', 'pencil', 'houses', 'lolipop', 'toys']

In [18]:
matrix=[
    [1,2,9],
    [2,1,3],
    [1,23,4],
    [1,2,9],
    [2,1,3],
    [1,23,4]
    ]

In [19]:
len(matrix)
matrix.reverse()
matrix

[[1, 23, 4], [2, 1, 3], [1, 2, 9], [1, 23, 4], [2, 1, 3], [1, 2, 9]]

In [20]:
basket=[1,2,3,4,5,6,7,8,8]
basket.append(23)
new_list=basket

In [21]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 8, 23]

In [22]:
new_life=basket.insert(6,200)
basket

[1, 2, 3, 4, 5, 6, 200, 7, 8, 8, 23]

In [23]:
basket.extend([12,34])
basket

[1, 2, 3, 4, 5, 6, 200, 7, 8, 8, 23, 12, 34]

In [24]:
#removing
basket.pop(2)
basket

[1, 2, 4, 5, 6, 200, 7, 8, 8, 23, 12, 34]

In [25]:
basket.remove(200)
basket

[1, 2, 4, 5, 6, 7, 8, 8, 23, 12, 34]

In [11]:
#fr=basket.clear()
basket=['q','e','s','c','z','v','b','p']

In [14]:
basket.index('v',1,7)

5

In [28]:
'e'in basket
basket.count('e')

1

In [29]:
#basket.sort()
sorted(basket)

['b', 'c', 'e', 'p', 'q', 's', 'v', 'z']

In [30]:
basket

['q', 'e', 's', 'c', 'z', 'v', 'b', 'p']

In [31]:
basket.sort()
basket

['b', 'c', 'e', 'p', 'q', 's', 'v', 'z']

In [32]:
basket

['b', 'c', 'e', 'p', 'q', 's', 'v', 'z']

In [33]:
basket.reverse()
basket

['z', 'v', 's', 'q', 'p', 'e', 'c', 'b']

In [18]:
basket=['goat','rice','beans','jug']

In [35]:
#basket.sort()
basket[::-1]

['jug', 'beans', 'rice', 'goat']

In [15]:
basket.reverse()

In [16]:
basket

['p', 'b', 'v', 'z', 'c', 's', 'e', 'q']

In [17]:
len(basket)

8

In [38]:
basket.append('rice')
basket.pop()
basket

['jug', 'beans', 'rice', 'goat']

In [39]:
basket.insert(2,'hat')

In [40]:
basket.pop()

'goat'

In [41]:
basket.extend(['thigh','kettle'])

In [42]:
basket[::-1]

['kettle', 'thigh', 'rice', 'hat', 'beans', 'jug']

In [43]:
basket

['jug', 'beans', 'hat', 'rice', 'thigh', 'kettle']

In [44]:
#list(range(1,100))

In [45]:
sentence=' maameon '
sentence.join(['faith ','emmanuel ','toju '])

'faith  maameon emmanuel  maameon toju '

In [46]:
sentence

' maameon '

In [47]:
#list unpackinh
buck=[1,2,3]
#assigning a variable to  each item
a,b,c,*JJ=[1,2,3,4,5,6,7,8,9]

In [48]:
JJ

[4, 5, 6, 7, 8, 9]

In [49]:
#user.get('age')
#user.get('age',55)
#filling a new key age in a dict
#turple
tre=(2,7,8)

NameError: name 'user' is not defined

In [50]:
#sets
sa={1,2,3,4,5}
#there has to be no uplicate in a set

In [51]:
fish=False
goat=True
if fish:
    print('fish is there')
elif goat:
        print('goat soup')
else:
    print('oh no')

goat soup

In [52]:
is_frien=True
can_msg='message allow'if is_frien else 'msg not allow'

In [53]:
can_msg

'message allow'

In [62]:
def water_application(rain):
    sprinkler=on
    #acttivate measuring bottle
    if measuring_bottle==30:
        pass
    #end sprinkling

In [63]:
#if humidity is over 180 apply water, heat and fertilizer
thermometer_result=20
humidity=((thermometer_result))
if humidity<200:
    water_application()
else:
    artificial_sunlight()

TypeError: water_application() missing 1 required positional argument: 'rain'

In [ ]:
1>2<2<3

In [64]:
is_magician=True
is_expert=False

if is_magician and is_expert:
    print('youre a master magician')

elif is_magician and not is_expert:
    print('atleast youre getting there')
    
if not is_magician:
    print('you need magical powers')

atleast youre getting there

In [65]:
print(
    True == 1,
    '1'==1,
    []==1,
    10==10.0,
    [1,2,3]==[2,3,2],
)

True False False True False

In [66]:
print(
    True == 1,
    '1'is '1',
    [] is 1,
    10==10.0,
    [1,2,3]==[2,3,2],
)

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?

True True False True False

<ipython-input-66-2e86ed7b55cf>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '1'is '1',
<ipython-input-66-2e86ed7b55cf>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  [] is 1,

In [67]:
#loops
for items in 'fait is goo':
    print(items)

f
a
i
t

i
s

g
o
o

In [71]:
#nested loops
for item in [1,2,3,4,5]:
    for tir in ['a','b','c','d','e']:
        print(item,tir)
        if (item,tir) ==1:
            break

1 a
1 b
1 c
1 d
1 e
2 a
2 b
2 c
2 d
2 e
3 a
3 b
3 c
3 d
3 e
4 a
4 b
4 c
4 d
4 e
5 a
5 b
5 c
5 d
5 e

In [72]:
#forming a ictionary
user={
    'name':'faith',
    'age':26,
    'class':2017
}
for users in user.items():
    print(users)

('name', 'faith')
('age', 26)
('class', 2017)

In [73]:
for users in user.values():
    print(users)

faith
26
2017

In [74]:
for users in user.keys():
    print(users)

name
age
class

In [75]:
for users,int in user.items():
    print(users,int)

name faith
age 26
class 2017

In [76]:
#iterables are list[], turples(), sets(), ictionaries, strings
#because they can go one by on to check each item in the collection

In [77]:
#counter
my_list=[1,2,3,4,5,6,7,8,9,10]
# loop over this list ans sum up the tortal
summation=0
for items in my_list:
    summation=summation+items
print(summation)

55

In [78]:
list(range(1,12))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [79]:
for i in range(10,0,-1):
    #-1 is a reverse inicatior
    print(i)
   # if i ==4:
      #  break
#range is also iterable

10
9
8
7
6
5
4
3
2
1

In [80]:
for i,char in enumerate('heloooo'):
    if char=='l':
        print(f'inex of l is {i}')
     #print(i,char)
#i an char are like key wor that goes with the function enumerate

inex of l is 2

In [86]:
i=56
while i < 50:
    pass
    #print(i)

In [87]:
import numpy as np

In [94]:
image=[
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,0,0,0,0]  
]

In [95]:
for num in image:
    for zeros in num:
        print((image.count(zeros))>0)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [97]:
for values in image:
    for num in values:
        if (num):
            print('*', end='')
        else:
            print(' ',end='')
    print('')

   *
  ***
 *****
*******
   *

In [98]:
#who is a good coder?
# code must be clean, reduce spaces and no extra stuff that you dont
#need.
# that is readability
#PREdicability

In [99]:
#checking for duplicate
some_list=['a','b','c','b','d','m','n','n']

In [100]:
duplicate=[]
for alpha in some_list:
    if some_list.count(alpha)>1:
        if alpha not in duplicate:
            print(alpha)
            duplicate.append(alpha)
duplicate

b
n

['b', 'n']

In [101]:
some_list.count(alpha)

2

In [103]:
#some_list[2].count(values)

In [104]:
some_list

['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

In [105]:
#checking for duplicate
some_list=['a','b','c','b','d','m','n','n']

In [106]:
two=[]
for alph in some_list:
    if some_list.count(alph)>1:
        if alph not in two:
            two.append(alph)

In [107]:
two

['b', 'n']

In [108]:
image=[
    [1,1,1,1,1,1,1],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0],
    [1,1,1,1,1,1,1],
    [0,0,0,0,0,0,1],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0],  
    [1,0,0,0,0,0,0],  
    [1,0,0,0,0,0,0],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0],
    [1,1,1,1,1,1,1],
    [0,0,0,0,0,0,1],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0],  
    [1,0,0,0,0,0,0],
    [1,0,0,0,0,0,0],
    [1,1,1,1,1,1,1],
    [0,0,0,0,0,0,1],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0], 
    [1,0,0,0,0,0,0],  
    [1,0,0,0,0,0,0],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0],
    [1,1,1,1,1,1,1],
    [0,0,0,0,0,0,1],
    [1,1,1,1,1,1,1],
    [1,0,0,0,0,0,0],  
    [1,0,0,0,0,0,0],
    [1,0,0,0,0,0,0], 
]

In [109]:
for num in image:
    for zeros in num:
        if zeros:
            print('*',end='')
        else:
            print(' ',end='')
    print(' ')

*******
*******
*
*******
      *
*******
*
*
*
*******
*
*******
      *
*******
*
*
*
*******
      *
*******
*
*
*
*******
*
*******
      *
*******
*
*
*

In [1]:

def christmas_tree(my_list):
    your_list=[]
    for num in my_list:
        for tag in num:
            if num.count(tag)>1:
                if tag not in your_list:
                    your_list.append(tag)
                    print(your_list)

In [2]:
christmas_tree([
    [1,3,2,1,2,1,1,2,3],
    [1,3,2,1,2,1,1,2,3]
]
              )

[1]
[1, 3]
[1, 3, 2]

# function
#difference between parameters and arguement
in th example above 'my_list' is a parameter
the the list in the involking or calling of the function is an arguement
there are types of arguements, below are some example

In [112]:
#simple function
def say_hello():
    print('helooo')

#now the arguemenys here are name and surname
def say_hi(name,sur):
    print(f'hello {name} {sur}')
    
#this contains default parameter
#that will run when the function is called without any arguements 

def say_hi(name='faith',sur='hills'):
    print(f'hello {name} {sur}')

In [113]:
#now this contains positional arguements
say_hi("faith","hillary")

hello faith hillary

In [114]:
#now thias contain a keyword  arguement
say_hi(sur="hillary",name="faith")

hello faith hillary

In [115]:
say_hi()

hello faith hills

In [116]:
#methosd and functions
#method is use after the . to take action on our data type
#method has to be own by something and that is whatever is to the 
#left of the dot
#example below, hello. and pressing down the tab key brings out all
#the method that attachs to a string and we picked count
'hello'.count('l')

2

In [117]:
def test(a):
    '''
    info: this prints a
    '''
    print('a')
    
    
#doctstring allows us to comment on a function

In [118]:
test('C')

a

In [23]:
#rule: param, *args, default parameters,**kwarrg 
def super_func(args,**kwargs):
    print(args,*kwargs)

super_func(5,man='henry' )

5 man

In [120]:
def highest_even(args):
    num=[]
    for i in args:
        if i %2==0:
            num.append(i)
    return max(num)

In [121]:
highest_even([10,2,3,4,8,11])

10

In [122]:
total=0
def count():
    global total
    total=total+1
    return total

In [123]:
count()

1

In [124]:
count()

2

# oop

In [125]:
#OBJECT ORIENTEd PROGRAMMING
#instantiate means creatin something on the class blue print

In [126]:
#BLUE PRINT, CREATE DIFFRENT OBJECT OVER ANCSF
class BigObject:
    pass

In [127]:
obj1=BigObject()

In [128]:
print(type(obj1))

<class '__main__.BigObject'>

In [129]:
#coding our own class
class PlayerCharacter:
    def __init__(self,age):
        if (age>18):
            self.age=age
    
   # def run(seif):
        #print('eun')
        
player1=PlayerCharacter(69)

print(player1.age)

69

In [130]:
class PlayerCharacter:
    #class object attribute
    membership=True
    name='tony'
    age=56
    #it is not dynamic, its stagnant, this means all object instiatednor
    #created will have acess to it memebership trued
    def __init__(self,name='faith',age=26):
        self.age=age
        self.name=name
         #attribute unique to the object
#constructor method

    @classmethod        
    def put_2geda(cls,num1,num2):
        print(num1+num2)
    @classmethod
    def run(self):
        print(f'player{self.name}has ran away')

In [131]:
player1=PlayerCharacter(name='tony',age=4)
player2=PlayerCharacter('hillary',19)
player3=PlayerCharacter()

In [132]:
player1.name, player2.name,player3.name

('tony', 'hillary', 'faith')

In [133]:
player1.put_2geda(3,4)

7

In [134]:
player1.run()

playertonyhas ran away

In [135]:
player1.membership
#but from what we have observed these variables in our class can be modified can
#can you imagine this brings us to talk about private and public classes

True

In [136]:
player1.age=9
player1.age

9

#OOP REVIEW
class NameOfClass:
    def __init__(self,param,param1):
        self.param=param
        self.param1=param1
    def method(self):
        #code
        @classmethod
    def cls_method(cls,param1,param):
        #creating a new player from this code
        return cls(param1,param)
        @staticmethod
     def cls_method(cls,param1,param):
                return (param%%!1,param)

In [141]:
#OOP encapsulation: binding of data and function into a box
#OOP abstraction : hidding information underneath the def method hood
class School:
    Pay_fees=False
    def __init__(self, building, buses,teachers,boarders):
        self.building=building
        self.buses=buses
        self.teachers=teachers
        self.boarders=boarders
    def go(self):
        print(f'i can go to school with {self.buses}buses')

In [160]:
his_majesty_grp_of_school=School('2_storey',3,20,True)

In [162]:
his_majesty_grp_of_school.go('faith')

faith can go to school with 3buses

In [144]:
#now lets talk about private and private classes

In [155]:
#spot the difference from the first(there is a -)
class School:
    Pay_fees=False
    def __init__(self, building, buses,teachers,boarders):
        self.building=building
        self._buses=buses
        self.teachers=teachers
        self.boarders=boarders
    def go(self,namr):
        print(f'{namr} can go to school with {self._buses}buses')

In [159]:
his_majesty_grp_of_school.go()

i can go to school with 8buses

In [163]:
his_majesty_grp_of_school.buses=8

In [164]:
his_majesty_grp_of_school.buses

8

In [14]:
#OOP encapsulation: binding of data and function into a box
#OOP abstraction : hidding information underneath the def method hood
#OOP inheritance:allows yoi take on the properties or already objecct
class FarmAction():
    def action(self):
        print('logged in')
        
class Irrigataor(FarmAction): 
    def __init__ (self,humidity,water_lev,span):
        self.humidity=humidity
        self.water_lev=water_lev
        self.span=span
    
    def 

class Cooler(FarmAction):
    def __init__ (self,humidity,water_lev,span):
    pass

melon=FarmAction()

In [15]:
melon.action()

logged in

In [24]:
#EXERCISE
# passing the attribut in the class bracket into its paradign
class SuperList(str):
    def __len__ (self):
        return 100

In [28]:
list1=SuperList('my name is')

In [29]:
list1.upper()

'MY NAMEIS'

In [20]:
list1.append(7)

In [23]:
list1[1]

7

In [22]:
len(list1)

100

In [110]:
class daddy():
    def angry(self):
        print('shout')
        
    def happy(self):
        print('smiles and give you money')
        
        
    
class wife(daddy):
    def __init__ (self,age=34):
        self.age=age
            
    
class boy(daddy):
    def __init__ (self,position):
        self.position=position
    
    def intro(self):
        print(f'hi, my name is {boy}, and i am no {self.position} in my family', )

class girl(wife,boy):
    def __init__ (self,position):
        self.position=position

In [104]:
richie=boy(1)

In [105]:
richie.angry()

shout

In [111]:
nene=girl(3)

In [112]:
nene.angry()

AttributeError: 'girl' object has no attribute 'shout'

In [49]:
#python Decorators
from time import time
def functio():
    def fuuc():
        pass
    return fuuc

In [32]:
def performance(func):
    def wrap(*args,**kwargs):
        t1=time()
        result=func(*args, **kwargs)
        print(22)
        t2=time()
        print(t2-t1)
    return wrap

In [35]:
@performance
def run_time():
    for i in range(5000000):
        i*5

In [36]:
run_time()

22
2.0048828125

## Error handling

In [ ]:
while True:
    try:
        age=int(input('what is your age'))
        10/age
    except:
        print('please enter a number')
    else:
        print('thank you')
        break

In [ ]:
0/3

## generators

In [24]:
range(100)

range(0, 100)

In [79]:
#GENERATOR IS A SUBSET OF ITERABLES
def make_list(num):
    list1=[]
    for i in range(num):
        list1.append(i*2)
    return list1

In [80]:
make_list(12)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [92]:
def generators_func(num):
    for i in range(num):
        yield i*2

In [94]:
g=generators_func(2)
next(g)
next(g)
next(g)
print(next(g))

StopIteration:

In [104]:
def performance(func):
    def wrap(*args,**kwargs):
        t1=time()
        result=func(*args, **kwargs)
        t2=time()
        print(t2-t1)
    return wrap

In [105]:
@performance
def run_time1():
    for i in range(5000000):
        i*5

In [106]:
run_time1()

219.478515625

In [107]:
@performance
def run_time2():
    for i in list(range(5000000)):
        i*5

In [108]:
run_time2()

MemoryError:

In [118]:
f0=0
f1=1
f2=f0+f1
f3=f2+f1
f4=f3+f2
f4

0
1
0+1=1
1+1=2
1+2=3

3

In [185]:
a=0
b=1
a=b
a

1

In [186]:
def fib(num):
    a=0
    b=1 
    for n in range(num):
        yield a
        temp=a
        print(temp)
        a=b
        print(a,b)
        b=temp+b
        print(b)

In [187]:
for x in fib(20):
    print(x)

0
0
1 1
1
1
1
1 1
2
1
1
2 2
3
2
2
3 3
5
3
3
5 5
8
5
5
8 8
13
8
8
13 13
21
13
13
21 21
34
21
21
34 34
55
34
34
55 55
89
55
55
89 89
144
89
89
144 144
233
144
144
233 233
377
233
233
377 377
610
377
377
610 610
987
610
610
987 987
1597
987
987
1597 1597
2584
1597
1597
2584 2584
4181
2584
2584
4181 4181
6765
4181
4181
6765 6765
10946

In [164]:
print(next(f))

2

In [166]:
f0

0

In [210]:
#0 1,1,2,3,5,8,13,21,34,55,89,


def numb(num):
    a=0
    b=1
    for n in range(num):
        yield a
        c=a
        a=b
        b=c+b
        #print(a,b)

In [211]:
for y in numb(9):
    print(y)

0
1
1
2
3
5
8
13
21

In [212]:
def fab(num):
    a=0
    b=1
    for i in range(num):
        yield a
        c=a
        a=b
        b=c+b

In [238]:
def fab(nums):
    a=0
    b=0
    for i in range(nums):
        yield a
        c=a
        b=c+1
        a=b

In [241]:
for y in fab(900):
    pass

## object oriented rogramming

In [246]:
print(type(None))
print(type(True))
print(type(5))
print(type(0.4))
print(type('tyu'))
print(type(()))
print(type([]))
print(type({}))

<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

## Modulus in python

In [247]:
def multiply(num1,num2):
    return num1*num2

def multiply(num1,num2):
    return num1*num2